.main-canvas{
    background-color: lightblue;
    width: 100%; 
    height: 100%;
    position: absolute; 
    }

.main-container{
    padding: 5em 0px;

}
.content{
    margin: 50px 0px;
    background-color: #fff;
}

.btn {
    border-radius: 0px !important;
    font-size: 22px !important;
    font-weight: 300 !important;
}

.col-md-6{

    padding-right: 0px !important;
    padding-left: 0px !important;
}

#setup{
    padding-top: 4em;
    text-align: center;
}

#punchline{
    padding: 2em;
    margin-top: 4em;
    margin-right: 2em;
    margin-left: 2em;
    text-align: center;
    border: 1px solid black;
    background-color: lightcoral;
    color: white;
}