@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0px;
  background-color: wheat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote {
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
.title h1 {
  font-weight: 900;
  font-size: 5em;
  text-shadow: 1px 1px 1px #000;
}

.title hr {
  width: 20%;
  border: 1px solid orange;
}

.shopping-cart-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em;
  box-shadow: 0 8px 6px -6px black;
}

.shopping-cart-menu p {
  margin: 0px;
  font-weight: 800;
}

.single-product {
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* border-radius: 15px; */
  max-width: 460px;
  margin: 0.5em;
  text-align: center;
  font-weight: 600;
  padding: 0px;
  box-shadow: 0 8px 6px -6px black;
}

.single-product img {
  max-width: 200px;
}

.product {
  padding-top: 2em;
  justify-content: space-between;
}



@media (min-width: 540px){
 
  .product-title {
    min-height: 50px;
  }   
  }
   
  @media (min-width: 768px){
   
    .product-title {
      min-height: 48px;
    }   
  }
   
  @media (min-width: 1024px){
   
    .product-title {
      min-height: 49px;
    }   
  }
   
  @media (min-width: 1200px){
   
    .product-title {
      min-height: 27px;
    }   
  }

